<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Lecciones de Python{% endblock %}</title>
</head>
<body>
    {% block sidebar %}
    <!-- Puedes dejar vacío o mostrar algo si lo deseas -->
    {% endblock %}

    {% block content %}
    <h1>Lista de Lecciones</h1>
    <ul>
        {% for leccion in lecciones %}
            <li>
                <a href="{{ url_for('leccion', slug=leccion['slug']) }}">
                    {{ leccion['titulo'] }}
                </a>
            </li>
        {% endfor %}
    </ul>
    {% endblock %}
</body>
</html>
